<div class="bg-primary container-fluid d-none d-md-flex justify-content-between align-items-center py-2">
    <a href="tel:+12896854737" class="text-white text-decoration-none">+1 (289) 685-4737</a>
    <a href="mailto:aaron@spearcontracting.ca" class="text-white text-decoration-none">aaron@spearcontracting.ca</a>
</div>
<nav class="bg-primary navbar navbar-expand-lg ">
    <div class="container-fluid"> <a class="fs-1 link-secondary navbar-brand" href="\"><img src="\images\Logos\Spear Contracting Logo.jpg" width="124" class="logo-spacing"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler6" aria-controls="" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon navtogcustom"></span>
        </button>
        <div class="collapse ms-auto navbar-collapse" id="navbarToggler6">
            <ul class="mb-2 mb-lg-0 ms-auto navbar-nav text-secondary" style="margin-right: 25px;">
                <li class="active-nav nav-item"> <a class="active-nav nav-link" href="/" style="font-size: 25px;" id="active">Home</a>
                </li>
                <li class="active-nav nav-item"> <a class="nav-link non-active-nav contact-trigger" href="/gallery.html" style="font-size: 25px;" id="active">Gallery</a>
                </li>
                <li class="active-nav nav-item"> <a class="nav-link non-active-nav contact-trigger" href="/#contact-section" style="font-size: 25px;" id="active">Contact</a>
            </ul>
        </div>
    </div>
</nav>